<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Monster Slayer</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Mountains+of+Christmas:400,700&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">

      <!-- FIRST PANEL -->
      <div class="panel scores">
        <div class="score">
          <h1
          >Player</h1>
          <div class="life_bar">
            <div class="life" :class="{playerDanger: playerLife <30 , playerNormal: playerLife =>30}"
              :style="{width: playerLife + '%'}"            >
            </div>
          </div>
          <h2>{{ playerLife }}%</h2>
        </div>

        <div class="score">
          <h1>Monster</h1>
          <div class="life_bar">
            <div class="life" :class="{monsterDanger: monsterLife <30 , monsterNormal: monsterLife =>30}"
              :style="{width: monsterLife + '%'}"            >
            </div>
          </div>
          <h2>{{ monsterLife }}%</h2>
        </div>
			</div>
      
      <!-- SECOND PANEL -->
      <div v-if="hasWinner" class="panel result">
        <div v-if="monsterLife == 0" class="resultDiv">
          <h1 class="win">You Win!</h1>
        </div>

        <div v-else class="resultDiv">
          <h1 class="lose">You Lose!</h1>
        </div>
      </div>

      <!-- THIRD PANEL -->
      <div class="panel buttons">
        <template v-if="onGame">
          <button @click="attack(false)" class="btn attack">ESPADADA</button>
          <button @click="attack(true)" class="btn specialAttack">FIREBALL</button>
          <button class="btn heal">HEAL</button>
          <button @click="resetGame()" class="btn quit">LARGAR OS BETS</button>
        </template>
        <button v-else @click="onGame = true" class="btn start">START!</button>
      </div>
      <div class="panel log">

      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
