html {
  font-family: "Mountains of Christmas", cursive;
  color: white;
  background: rgb(7, 0, 22);
}

h1 {
  color: rgb(252, 110, 15);
}

/* FIRST PANEL */
#app {
  display: flex;
  flex-direction: column;
}

.panel {
  padding: 1%;
  margin: 2%;
  box-shadow: 0 2px 10px rgb(224, 95, 9);
  display: flex;
  justify-content: center;
}

.scores {
  display: flex;
}

.score {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.life_bar {
  width: 80%;
  height: 20px;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: -2px 0 10px 0 rgba(255, 255, 255, 0.6);
  background-color: white
}

.life_bar .life {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 50%;
  border-radius: 10px;
  max-width: 100%;
}

.playerNormal {
  background: linear-gradient(to bottom, rgba(79, 206, 89, 0.836), rgba(13, 167, 26, 0.836)), 
  url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/172299/bubbles-mask.gif);
}

.playerDanger {
  background: linear-gradient(to bottom, rgba(204, 64, 64, 0.836), rgba(167, 13, 13, 0.836)), 
  url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/172299/bubbles-mask.gif);
}

.monsterNormal {
  background: linear-gradient(to bottom,rgba(141, 5, 219, 0.795),rgba(161, 41, 230, 0.836)), 
  url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/172299/bubbles-mask.gif);
}

.monsterDanger {
  background: linear-gradient( to bottom,rgba(42, 39, 223, 0.836),rgba(3, 1, 88, 0.836)), 
  url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/172299/bubbles-mask.gif);
}

/* SECOND PANEL */

.resultDiv {
  display: flex;
  justify-content: center;
}

.win {
  color: greenyellow
}

.lose{
  color: magenta
}

/* THIRD PANEL */

.btn {
  margin: 2% 8%;
  padding: 10px;
  font-family: "Mountains of Christmas", cursive;
  font-size: 2em;
  border-radius: 6em
}